body {
  background-image: linear-gradient(to right top, #d16ba5,
   #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4,
    #69bff8, #42c9fa, #41dfff, #46eefa, #5ffbf1);
}

.container {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  padding: 22px;
  color: black;
}

.header, .main, .footer {
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
  background-color: #fff;
  color: #333
}


.greeting {
  color: #333;

}

